@font-face {
  font-family: Hiragino Sans;
  font-weight: 100;
  src: local(HiraginoSans-W0), local("Hiragino Sans W0");
}

@font-face {
  font-family: Hiragino Sans;
  font-weight: 200;
  src: local(HiraginoSans-W1), local("Hiragino Sans W1");
}

@font-face {
  font-family: Hiragino Sans;
  font-weight: 250;
  src: local(HiraginoSans-W2), local("Hiragino Sans W2");
}

@font-face {
  font-family: Hiragino Sans;
  font-weight: 300;
  src: local(HiraginoSans-W3), local("Hiragino Sans W3");
}

@font-face {
  font-family: Hiragino Sans;
  font-weight: 400;
  src: local(HiraginoSans-W4), local("Hiragino Sans W4");
}

@font-face {
  font-family: Hiragino Sans;
  font-weight: 500;
  src: local(HiraginoSans-W5), local("Hiragino Sans W5");
}

@font-face {
  font-family: Hiragino Sans;
  font-weight: 600;
  src: local(HiraginoSans-W6), local("Hiragino Sans W6");
}

@font-face {
  font-family: Hiragino Sans;
  font-weight: 700;
  src: local(HiraginoSans-W7), local("Hiragino Sans W7");
}
@font-face {
  font-family: Hiragino Sans;
  font-weight: 800;
  src: local(HiraginoSans-W8), local("Hiragino Sans W8");
}

@font-face {
  font-family: Hiragino Sans;
  font-weight: 900;
  src: local(HiraginoSans-W9), local("Hiragino Sans W9");
}
